<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
  </head>
  <body>
    <style>
      body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        margin-top: 2rem;
        background: #000;
        color: #fff;
      }
      h1 {
        font-size: 4rem;
        color: #ff0000;
      }
      p {
        font-size: 2rem;
      }
      strong {
        color: #ff0000;
      }
    </style>
    <h1>404 - WOOOW</h1>
    <p>
      ☺ the page we are looking for does not exist. <strong>wtf</strong>
    </p>
  </body>
</html>
